<footer>
    <footer-container>
        <ul>
            <li><a href="/">Home</a></li>
            <%if(locals.user){%>
            <li><a href="/users/profile/<%=locals.user._id%>">Profile</a></li>
            <%}%>
            <li><a href="/hailBalayya">Error 404</a></li>
        </ul>

    </footer-container>
    
    <p class="bottom">2022 Copyright (C) All rights reserved |  Gopichandu </p>
</footer>

