<footer>
    <footer-container>
        <ul>
            <li>Home</li>
            <li>Profile</li>
        </ul>

    </footer-container>
    
    <p class="bottom">2022 Copyright (C) All rights reserved |  Gopichandu </p>
</footer>

