<header>
  <left>
    <div>
      <img src="/images/logo.png" alt="Logo">
    </div>
    <h1>Stack Infinity</h1>
  </left>

  <ul>
    <% if(locals.user){%>
    <li><p><%=user.name%></p></li>
    <li><a href="/users/sign-out"><div>Sign Out</div></a></li>
    <%}else{%>
    <li>
      <a href="/users/sign-in"><div>Sign In</div></a>
    </li>
    <li>
      <a href="/users/sign-up"><div>Sign Up</div></a>
    </li>
    <% }%>
  </ul>
</header>
