<div class="heading"><h1>Sign In</h1></div>
<link rel="stylesheet" href="/css/sign_up.css" />

<form action="/users/create-session" method="POST">
  <div class="box ">

    <div class="item">
      <label for="email">Email</label>
      <input class="width" type="email" name="email" id="email" />
    </div>
    <div class="item">
      <label for="passwd">password</label>
      <input class="width" type="password" name="password" id="passwd" />
    </div>
    </div>
    <div class="item2">
      <input type="submit" value="Sign In" class="size" />
    </div>
  </div>
</form>
