<div class="heading"><p><%=title%></p></div>
<link rel="stylesheet" href="/css/sign_up.css" />

<form action="/users/get-otp" method="POST">
  <div class="box ">

    <div class="item">
      <label for="mail">Email</label>
      
      <input class="width" type="email" name="email" id="mail" />
    </div>
    </div>
    <div class="item2">
      <input type="submit" value="submit" class="size" />
    </div>
  </div>
</form>
