#chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  // border: 1px grey;
  height: 300px;
  width: 250px;
  background: rgb(255, 48, 110);
  border-radius:15px;
  border: 1px solid rgb(207, 0, 0);
  padding: 5px;
  // box-shadow: 1px 1px 1px 1px rgb(193, 193, 193);
  #heading {
    height: 9%;
  }
  #chat-messages {
    border-top-left-radius: 20px;
   
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: white;
    overflow: auto;
    // overflow:scroll; 
    word-wrap: break-word;
    .friend {
      text-align: left;
      padding: 5px;
      p {
        word-break: break-all;
        display: inline-block;
        padding: 7px;
        background-color: #a0b3ff;
      }
      sub {
        display: block;
        font-size: 10px;
      }
    }

    .our {
      text-align: right;
      padding: 5px;

      p {
        word-break: break-all;
        display: inline-block;
        padding: 7px;
        background-color: #a0dcff;
      }
      sub {
        display: block;
        font-size: 10px;
      }
    }
  }
  #message-input {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;

    #chat-message-input {
      // height: 40%;
      width: 70%;
      text-decoration: none;
      border-bottom-left-radius: 12px;
    }

    #send-message {
      margin: 2px;
      // height: 40%;
      width: 25%;
      font-size: 16px;
      color: white;
      border: none;
      background: #171717;
      // border-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
input:focus {
  outline: 0;
}
input {
  outline: 0;
}
*:focus {
  outline: 0;
}
input {
  border: none;
  background-color: rgb(255, 255, 218);
  resize: none;
  outline: none;
}

// 
.friend {
  text-align: left;
  padding: 5px;
  p {
    word-break: break-all;
    display: inline-block;
    padding: 7px;
    background-color: #a0b3ff;
  }
  sub {
    display: block;
    font-size: 10px;
  }
}
// -------------
.our {
  text-align: right;
  padding: 5px;

  p {
    word-break: break-all;
    display: inline-block;
    padding: 7px;
    background-color: #a0dcff;
  }
  sub {
    display: block;
    font-size: 10px;
  }
}