#chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  // border: 1px grey;
  height: 350px;
  width: 270px;
  // background: rgb(255, 48, 110);
  border: 2px rgb(0, 0, 0);
  border-style: dashed;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  7px 7px 31px #d0d0d0,
               -7px -7px 31px #f0f0f0;

  border-radius:15px;
  // border: 2px solid rgb(105, 105, 105);
  padding: 5px;
  
  // box-shadow: 1px 1px 1px 1px rgb(193, 193, 193);
  #heading {
    height: 9%;
    font-weight: 600;
  }
  #chat-messages {
    border-top-left-radius: 20px;
   
    list-style: none;
    // padding: 10px;
    height: 65%;
    background-color: white;
    overflow: auto;
    // overflow:scroll; 
    word-wrap: break-word;
    .friend {
      text-align: left;
      padding: 5px;
      p {
        word-break: break-all;
        display: inline-block;
        padding: 7px;
        background-color: #fca0ff;
        border-radius: 7px;
      }
      sub {
        display: block;
        font-size: 10px;
      }
    }
    
    .our {
      text-align: right;
      padding: 5px;
      
      p {
        word-break: break-all;
        display: inline-block;
        padding: 7px;
        background-color: #74ceff;
        border-radius: 7px;
      }
      sub {
        display: block;
        font-size: 10px;
      }
    }
  }
  #message-input {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 20px;
    // background-color: aqua;
    // position: relative;
    // bottom: 10px;
    #chat-message-input {
      
      border-top: 2px solid black;
      // height: 40%;
      width: 70%;
      text-decoration: none;
      border-bottom-left-radius: 12px;
      background-color: rgb(247, 247, 247);
      font-family: monospace;
      font-size: 16px;
      // background-color: red;
    }

    #send-message {
      margin: 2px;
      // height: 40%;
      width: 25%;
      font-size: 16px;
      color: white;
      border: none;
      background: #2e2e2e;
      // border-radius: 12px;
      border-bottom-right-radius: 12px;

    }
  }
}
input:focus {
  outline: 0;
}
input {
  outline: 0;
}
*:focus {
  outline: 0;
}
input {
  border: none;
  background-color: rgb(255, 255, 218);
  resize: none;
  outline: none;
}

// 
.friend {
  text-align: left;
  padding: 5px;
  p {
    word-break: break-all;
    display: inline-block;
    padding: 7px;
    background-color: #a0b3ff;
  }
  sub {
    display: block;
    font-size: 10px;
  }
}
// -------------
.our {
  text-align: right;
  padding: 5px;

  p {
    word-break: break-all;
    display: inline-block;
    padding: 7px;
    background-color: #7affff;
  }
  sub {
    display: block;
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}