@font-face {
    font-family: "poppins";
    /* src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"); */

    src:url("../fonts/Poppins-Regular.ttf")
  }

h1{
  margin: 0px;
}
p{
  margin: 0px;
}
body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'poppins';
  #main-layout{
    margin: 0px;
    padding: 0px;
     height: 100%;
    //height: 400px;
    background-color: rgb(255, 255, 255);
  }
}
