#chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 300px;
  width: 270px;
  border: 2px black;
  border-style: dashed;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 7px 7px 31px #d0d0d0, -7px -7px 31px #f0f0f0;
  border-radius: 15px;
  padding: 5px; }
  #chat-box #heading {
    height: 9%;
    font-weight: 600; }
  #chat-box #chat-messages {
    border-top-left-radius: 20px;
    list-style: none;
    height: 60%;
    background-color: white;
    overflow: auto;
    word-wrap: break-word; }
    #chat-box #chat-messages .friend {
      text-align: left;
      padding: 5px; }
      #chat-box #chat-messages .friend p {
        word-break: break-all;
        display: inline-block;
        padding: 7px;
        background-color: #fca0ff;
        border-radius: 7px; }
      #chat-box #chat-messages .friend sub {
        display: block;
        font-size: 10px; }
    #chat-box #chat-messages .our {
      text-align: right;
      padding: 5px; }
      #chat-box #chat-messages .our p {
        word-break: break-all;
        display: inline-block;
        padding: 7px;
        background-color: #74ceff;
        border-radius: 7px; }
      #chat-box #chat-messages .our sub {
        display: block;
        font-size: 10px; }
  #chat-box #message-input {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    #chat-box #message-input #chat-message-input {
      border-top: 2px solid black;
      width: 70%;
      text-decoration: none;
      border-bottom-left-radius: 12px;
      background-color: #f7f7f7;
      font-family: monospace;
      font-size: 16px; }
    #chat-box #message-input #send-message {
      margin: 2px;
      width: 25%;
      font-size: 16px;
      color: white;
      border: none;
      background: #2e2e2e;
      border-bottom-right-radius: 12px; }

input:focus {
  outline: 0; }

input {
  outline: 0; }

*:focus {
  outline: 0; }

input {
  border: none;
  background-color: #ffffda;
  resize: none;
  outline: none; }

.friend {
  text-align: left;
  padding: 5px; }
  .friend p {
    word-break: break-all;
    display: inline-block;
    padding: 7px;
    background-color: #a0b3ff; }
  .friend sub {
    display: block;
    font-size: 10px; }

.our {
  text-align: right;
  padding: 5px; }
  .our p {
    word-break: break-all;
    display: inline-block;
    padding: 7px;
    background-color: #7affff; }
  .our sub {
    display: block;
    font-size: 10px; }
