header {
  margin: 0px;
  background-color: #B2A4FF;
  display: flex;
  justify-content: space-between;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-color: red;
  border-bottom: 4px solid #ff5188; }
  header left {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex; }
    header left img {
      height: 35px; }
    header left h1 {
      font-size: x-large;
      margin: 0;
      margin-left: 7px; }
  header ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    header ul li {
      list-style: none;
      margin-top: 5px;
      margin-right: 5px; }
      header ul li p {
        margin-right: 5px;
        margin-top: 5px;
        margin-left: 3px; }
      header ul li div {
        padding: 5px;
        background-color: #a6a6a6;
        border-radius: 7%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
      header ul li a {
        text-decoration: none; }
      header ul li a:hover {
        text-decoration: none; }
        header ul li a:hover div {
          background-color: white; }
