#home-page-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; }
  #home-page-container #user-feed {
    padding: 10px;
    width: 70%;
    background-color: white; }
  #home-page-container #user-friends {
    padding: 10px;
    width: 30%;
    border-left: 2px solid black; }
  #home-page-container #left-align {
    padding: 10px;
    text-align: left; }
    #home-page-container #left-align p {
      margin-bottom: 10px; }
    #home-page-container #left-align a:hover {
      text-decoration: none; }
      #home-page-container #left-align a:hover div {
        background-color: white; }
    #home-page-container #left-align a {
      border-radius: 6px;
      background: #e0e0e0;
      box-shadow: 2px 2px 4px #606060, -2px -2px 4px #ffffff;
      padding: 3px; }

.post-post {
  border-style: none;
  width: 99%;
  height: 100%; }

.outer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  border-radius: 50px;
  border-radius: 50px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 5px 5px 50px #bebebe, -5px -5px 50px #ffffff; }

.post-type {
  background-color: aliceblue;
  text-align: justify; }

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none; }

textarea:focus,
input:focus {
  outline: 0; }

*:focus {
  outline: 0; }

.button > input {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 5px 5px 7px #b3b3b3, -5px -5px 7px #ffffff; }
