@font-face {
  font-family: "poppins";
  /* src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"); */
  src: url("../fonts/Poppins-Regular.ttf"); }

h1 {
  margin: 0px; }

p {
  margin: 0px; }

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'poppins'; }
  body #main-layout {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: aqua; }
