li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

.post-container {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background-color: white;
  margin: 10px;
  padding: 7px;
  text-align: justify;
  border-radius: 12px; }
  .post-container .user-box {
    border-radius: 7px;
    width: 200px;
    padding: 3px; }
    .post-container .user-box .user-highlight {
      width: fit-content;
      border-radius: 2px;
      padding: 2px;
      margin: 2px; }
  .post-container .comment-heading {
    border-radius: 7px;
    width: 200px;
    padding: 3px;
    margin-left: 3px;
    font-size: 14px; }
  .post-container .post-content {
    width: 100%; }
  .post-container .top-post-box {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between; }
    .post-container .top-post-box a {
      text-decoration: none; }
    .post-container .top-post-box .delete-box {
      border-radius: 2px; }
      .post-container .top-post-box .delete-box .delete-button {
        background-color: white;
        width: 18px;
        height: 18px;
        margin-top: 2px;
        padding-bottom: 4px; }
        .post-container .top-post-box .delete-box .delete-button a {
          text-decoration: none;
          padding-left: 4px;
          padding-top: 0px; }
  .post-container .post-content-body {
    margin-top: 10px;
    padding-bottom: 10px; }
  .post-container .post-comments {
    padding-top: 3px; }
    .post-container .post-comments .comment-form {
      padding: 7px; }
    .post-container .post-comments .list {
      margin: 0;
      padding: 1px; }
  .post-container input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    margin: 0; }
  .post-container input:focus {
    outline: none; }
  .post-container .comment-form {
    height: 50px;
    margin-bottom: 20px; }
    .post-container .comment-form .comment-text {
      height: 50px;
      width: 100%;
      background-color: rgba(239, 239, 239, 0.911);
      border-radius: 3px; }
      .post-container .comment-form .comment-text .comment-text-content {
        border-style: none;
        width: 100%;
        height: 100%; }
      .post-container .comment-form .comment-text textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none; }
      .post-container .comment-form .comment-text textarea:focus,
      .post-container .comment-form .comment-text input:focus {
        outline: 0; }
      .post-container .comment-form .comment-text *:focus {
        outline: 0; }
    .post-container .comment-form .comment-button-container {
      margin-top: 2px;
      display: flex;
      flex-direction: row-reverse;
      height: 20px; }
      .post-container .comment-form .comment-button-container .comment-button {
        border: 1px solid black;
        width: 50px;
        background-color: grey; }

.img {
  padding: 0%;
  margin: 0%;
  position: relative;
  top: 5px; }

.toggle-like-button {
  background-color: white;
  text-decoration: none;
  color: black;
  font-size: 18px; }
