.heading{
    background-color: rgb(255, 255, 255);
}
.b{
    /* border: 2px solid black; */
}
.box{
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}
.item{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 30px;
}

.item2{
    margin: 0px;
    /* background-color: beige; */
    padding: 0%;
    margin-bottom: 20px;
}
.item2>input:hover{
    border-radius: 20px;
    background-color: rgb(180, 180, 180);
    outline: none;
    border: 0px solid;
    
}
.item2>input{
    border-radius: 20px;
    background-color: rgb(172, 172, 172);
    outline: none;
    border: 0px solid;
}

.size{
    height: 30px;
    width: 100px;
}
.width{
    width: 200px;
}