.heading{
    background-color: aqua;
}
.b{
    border: 2px solid black;
}
.box{
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}
.item{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    height: 30px;
}

.item2{
    margin: 20px;
}

.size{
    height: 30px;
    width: 100px;
}
.width{
    width: 200px;
}